.about {
  padding-bottom: 90px;
}

.about__container {
  display: flex;
  flex-direction: column;
  background: url('../image/about/photos.jpg') top 100px left 0 no-repeat;
}


.about__content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-self: flex-end;
}

.about__title {
  align-self: center;
  margin-bottom: 50px;
}

.about__text {
  font-family: Arial;
  font-size: 20px;
  line-height: 28px;
  max-width: 500px;
  margin-bottom: 50px;
}

.about__text:first-of-type {
  margin-bottom: 30px;
}

.quote {
  max-width: 500px;
  margin: 0;
}

.quote__text {
  position: relative;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 400px;
  padding-left: 40px;
}

.quote__text:before {
  position: absolute;
  content: '“';
  top: 0;
  left: 0;
  font-weight: 900;
  color: #6C0287;
}

.quote__text:after {
  position: absolute;
  content: '”';
  right: 0;
  bottom: 0;
  font-weight: 900;
  color: #6C0287;
}


.quote__text_purple {
  font-weight: 900;
  color: #6C0287;
}

.quote__author {
  display: flex;
  padding-left: 110px;
}

.quote__author-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-self: center;
  margin-right: 30px;
}

.quote__author-cite {
  font-size: 20px;
  line-height: 28px;
  max-width: 270px;
}