.burger {
  z-index: 3;
  position: absolute;
  padding-bottom: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translate(-110%, -110%);
  transition: .5s;
  background: #1B1A1B;
}

.burger__active {
  z-index: 3;
  transform: translate(0px, 20%);
}

.burger__nav {
  width: 100%;
}

.burger__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.burger__item {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  
}

.burger__link {
  display: block;
  width: 100%;
  padding: 20px 0px;
  outline: none;
}

.burger__link:hover {
  background: #6C0287;
}

.burger__link:active,
.burger__link:focus {
  background: #CD06FF;
}

.burger__button {
  display: none;
}

@media (max-width: 480px) {
  .burger {
    padding-top: 36px;
    padding-bottom: 27px;
  }

  .burger__nav {
    margin-bottom: 38px;
  }

  .burger__list {
    gap: 25px;
  }

  .burger__item {
    font-size: 14px;
    line-height: 22px;
  }

  .burger__button {
    display: flex;
  }
}