.contacts {
  padding-bottom: 20px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 146px;
}

.contacts__title {
  align-self: center;
  margin-bottom: 55px;
  text-align: center;
}

.contacts__list {
  max-width: 380px;
  margin-bottom: 40px;
}

.contacts__item {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-left: 60px;
}

.contacts__adress {
  margin-bottom: 36px;
  background: url('../image/contacts/location.svg') top 50% left 0 no-repeat;
}

.contacts__phone {
  margin-bottom: 11px;
  background: url('../image/contacts/phone.svg') top 50% left 0 no-repeat;
}

.contacts__email {
  background: url('../image/contacts/envelope.svg') top 50% left 0 no-repeat;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.social__item {
  width: 50px;
  height: 50px;
}

.social__link {
  display: block;
  height: 100%;
  border-radius: 50%;
}


.social__instagram {
  background: url('../image/contacts/instagram.svg') center / contain no-repeat; 
}
.social__vk {
  background: url('../image/contacts/vk.svg') center / contain no-repeat; 
}
.social__facebook {
  background: url('../image/contacts/facebook.svg') center / contain no-repeat; 
}
.social__telegram {
  background: url('../image/contacts/telegram.svg') center / contain no-repeat; 
}

.social__link:hover,
.social__link:focus {
  background-color: #EADEED;
}

.social__link:active {
  background-color: #CD06FF;
}

.contacts__map {
  max-width: 680px;
}

.contacts__copy {
  display: flex;
  justify-content: space-between;
}

.contacts__text {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.contacts__text:nth-child(2) {
  text-align: right;
}

.contacts__link {
  display: block;
}

.contacts__link:hover {
  text-shadow: 0 0 5px;
}
