.contacts {
  padding-bottom: 20px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 146px;
}

.contacts__title {
  align-self: center;
  margin-bottom: 55px;
  text-align: center;
}

.contacts__list {
  max-width: 380px;
  margin-bottom: 40px;
}

.contacts__item {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-left: 60px;
}

.contacts__adress {
  margin-bottom: 36px;
  background: url('../image/contacts/location.svg') top 50% left 0 no-repeat;
}

.contacts__phone {
  margin-bottom: 11px;
  background: url('../image/contacts/phone.svg') top 50% left 0 no-repeat;
}

.contacts__email {
  background: url('../image/contacts/envelope.svg') top 50% left 0 no-repeat;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.social__item {
  width: 50px;
  height: 50px;
}

.social__link {
  display: block;
  height: 100%;
  border-radius: 50%;
  transition: background-color .2s;
}


.social__instagram {
  background: url('../image/contacts/instagram.svg') center / contain no-repeat; 
}
.social__vk {
  background: url('../image/contacts/vk.svg') center / contain no-repeat; 
}
.social__facebook {
  background: url('../image/contacts/facebook.svg') center / contain no-repeat; 
}
.social__telegram {
  background: url('../image/contacts/telegram.svg') center / contain no-repeat; 
}

.social__link:hover,
.social__link:focus {
  background-color: #EADEED;
}

.social__link:active {
  background-color: #CD06FF;
}

.contacts__copy {
  display: flex;
  justify-content: space-between;
}

.contacts__text {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.contacts__text:nth-child(2) {
  text-align: right;
}

.contacts__link {
  display: block;
  transition: text-shadow .2s;
  padding-top: 6px;
}

.contacts__link:hover {
  text-shadow: 0 0 5px;
}

.contacts__map-wrapper {
  width: 680px;
  height: 274px;
}

.contacts__br_mobile {
  display: none;
}


@media (max-width: 1200px) {
  .contacts__map-wrapper {
    width: 540px;
    height: 274px;
  }
}

@media (max-width: 1024px) {
  .contacts {
    padding: 35px 0;
  }

  .contacts__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .contacts__map-wrapper {
    width: 540px;
    height: 274px;
  }

  .contacts__content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }

  .contacts__item {
    width: 380px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding-left: 0;
  }

  .contacts__br {
    display: none;
  }

  .contacts__br_mobile {
    display: inline;
  }

  .contacts__adress {
    padding-left: 0;
    background-position: top 0 left 100px;
    background-size: 7%;
  }

  .contacts__phone {
    margin-bottom: 27px;
    background-position: left 30px top 0;
  }

  .contacts__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social {
    margin-bottom: 40px;
  }

  .social__item {
    max-width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding: 15px 0px 25px;
  }

  .contacts__map-wrapper {
    max-width: 480px;
  }
}

@media (max-width: 480px) {

  .contacts__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .contacts__map-wrapper {
    max-width: 280px;
    height: 194px;
  }

  .contacts__content {
    margin-bottom: 63px;
  }

  .contacts__item {
    width: 280px;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__adress {
    background-position: top 0 left 80px;
    background-size: 6%;
    margin-bottom: 10px;
  }

  .contacts__phone {
    margin-bottom: 10px;
    background-position: left 50px top 0;
    background-size: 7%;
  }

  .contacts__email {
    background-position: left 30px top 0;
    background-size: 7%;
  }

  .contacts__list {
    margin-bottom: 10px;
  }

  .social {
    margin-bottom: 35px;
    max-width: 180px;
  }

  .social__item {
    max-width: 28px;
    height: 28px;
  }

  .contacts__copy {
    flex-direction: column;
    align-items: center;
  }

  .contacts__text:nth-child(2) {
    text-align: center;
  }

  .contacts__text:first-child {
    margin-bottom: 19px;
  }

  .contacts__link {
    padding-top: 5px;
  }
}