.faq {
  padding-bottom: 100px;
}

.faq__title {
  text-align: center;
  margin-bottom: 40px;
}

.faq__item {
  position: relative;
  display: flex;
  padding: 30px 70px;
  background-color: #fff;
  color: #1C1A1A;
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.faq__item:nth-child(even) {
  background-color: #440F51;
  color:#fff;
}

.faq__item:nth-child(even):after {
  position: absolute;
  content: '';
  width: 46px;
  height: 46px;
  top: 20px;
  right: 70px;
  background: url('../image/faq/open_white.svg');
}

.faq__item:nth-child(odd):after {
  position: absolute;
  content: '';
  width: 46px;
  height: 46px;
  top: 20px;
  right: 70px;
  background: url('../image/faq/open_purple.svg');
}

.faq__item:not(:last-child) {
  margin-bottom: 20px;
}

