.feedback {
  padding-bottom: 100px;
}

.feedback__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.feedback__title {
  align-self: center;
  margin-bottom: 55px;
}

.feedback__list {
  max-width: 980px;
  padding-left: 100px;
}

.feedback__item {
  display: flex;
}

.feedback__item:not(:last-child) {
  margin-bottom: 50px;
}

.feedback__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.feedback__photo {
  width: 280px;
  border-radius: 50%;
  margin-bottom: 11px;
}

.feedback__review {
  max-width: 680px;
  padding-top: 50px;
  font-size: 20px;
  line-height: 28px;
}

.feedback__prev {
  position: absolute;
  content: '';
  width: 45px;
  height: 45px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url('../image/feedback/prev.svg') center / contain no-repeat;
  z-index: 2;
  border: none;
}

.feedback__next {
  position: absolute;
  content: '';
  width: 45px;
  height: 45px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url('../image/feedback/next.svg') center / contain no-repeat;
  z-index: 2;
  border: none;
}

@media (max-width: 1200px) {
  .feedback {
    padding: 35px 0;
  }

  .feedback__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .feedback__list {
    max-width: 900px;
  }

  .feedback__figure {
    align-items: center;
    margin-right: 40px;
  }

  .feedback__photo {
    max-width: 172px;
  }

  .feedback__figcaption {
    font-size: 18px;
    line-height: 26px;
  }

  .feedback__review {
    font-size: 18px;
    line-height: 26px;
    max-width: 515px;
  }
  
  .feedback__prev,
  .feedback__next {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 1024px) {
  .feedback {
    padding: 30px 0;
  }

  .feedback__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .feedback__list {
    max-width: 688px;
  }

  .feedback__figure {
    margin-right: 15px;
  }

  .feedback__photo {
    max-width: 153px;
  }

  .feedback__figcaption {
    font-size: 14px;
    line-height: 20px;
  }

  .feedback__review {
    font-size: 16px;
    line-height: 22px;
    max-width: 393px;
    padding-top: 30px;
  }
  
  .feedback__prev,
  .feedback__next {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 768px) {

  .feedback__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .feedback__list {
    max-width: 400px;
    padding-left: 0;
  }

  .feedback__item {
    flex-direction: column;
    align-items: center;
  }

  .feedback__figure {
    margin-right: 0;
  }

  .feedback__review {
    max-width: 400px;
  }

}

@media (max-width: 480px) {
  .feedback__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  .feedback__list {
    max-width: 280px;
  }

  .feedback__photo {
    max-width: 86px;
  }

  .feedback__figcaption {
    font-size: 14px;
    line-height: 20px;
  }

  .feedback__review {
    font-size: 12px;
    line-height: 16px;
    max-width: 279px;
    padding-top: 16px;
  }

  .feedback__prev {
    width: 20px;
    height: 20px;
    top: 15px;
    transform: translateY(0);
    left: 30px;
  }
  
  .feedback__next {
    width: 20px;
    height: 20px;
    top: 15px;
    transform: translateY(0);
    right: 30px;
  }
}