html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: Arial, sans-serif;
  /* указать шрифт под проект*/
  font-size: 20px;
  font-weight: 400;
  color: var(--main-color);
  background: var(--main-bgcolor);
}


img {
  max-width: 100%;
  height: auto;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  width: 100%;
}

iframe {
  border: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding: 50px 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 20px;
}

.section__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.button {
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
}

@media (max-width: 1024px) {
  .container {
    max-width: 860px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 300px;
    padding: 0px 10px;
  }
}