.header {
  padding-top: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 40px;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__button {
  padding: 12px 32px;
  background-color: transparent;
  color: #fff;
  border: 3px solid #CD06FF;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  transition: background-color, border .2s;
}

.header__button:hover,
.header__button:active,
.header__button:focus {
  background: #6C0287;
  border: 3px solid #6C0287;
  box-sizing: border-box;
  border-radius: 10px;
}

.header__link {
  transition: text-shadow .2s;
}

.header__link:hover {
  text-shadow: 0 0 5px;
}