
.hero__title {
  font-family: Arial-Black, sans-serif;
  font-weight: 900;
  font-size: 200px;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.hero__subtitle {
  font-size: 28px;
  line-height: 50px;
  padding-left: 211px;
  margin-bottom: 40px;
}

.hero__info {
  display: flex;
  gap: 35px;
  margin-bottom: 150px;
}

.hero__text-wrap:nth-of-type(2) {
  padding-top: 40px;
}

.hero__text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__text {
  position: relative;
  display: flex;
  max-width: 180px;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

.hero__text_purple {
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: #CD06FF;
  text-transform: uppercase;
}

.hero__text_purple-word {
  font-size: 80px;
  line-height: 92px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero__button {
  padding: 25px 69px;
  background: #6C0287;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__button:hover,
.hero__button:active,
.hero__button:focus {
  background: #840AA3;
}

.hero__container {
  min-height: 840px;
  position: relative;
  background: url('../image/hero/Component.svg') left 10px top 190px no-repeat;
}

.hero__container:before {
  position: absolute;
  content: '';
  display: block;
  width: 675px;
  height: 740px;
  top: 100px;
  right: 0;
  background-image: url('../image/hero/VR.png');
  z-index: 2;
}

.hero__down {
  z-index: 2;
  position: absolute;
  bottom: 84px;
  left: 50%;
  transform: translateX(-50%);
  width: 97px;
  height: 97px;
  background: url("../image/hero/down.png")
}

.hero__down:hover {
  background: url("../image/hero/down_hover.svg")
}

.hero__down:active {
  background: url("../image/hero/down_active.svg")
}