.modal {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(27, 26, 27, 0.7);
  width: 100%;
  height: 100%;
  display: none;
}

.modal__active {
  overflow: auto;
}

.modal__wrapper {
  
  position: relative;
  width: 600px;
  background: #440F51;
  padding: 60px 150px 80px;
}

.modal__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.modal__label-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.modal__label {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.modal__input {
  width: 280px;
  height: 52px;
}

.modal__button {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 16px 52px;
  box-shadow: 0 0 20px #fff;
}

.modal__button:hover,
.modal__button:active,
.modal__button:focus {
  background: #840AA3;
  color: #fff;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  background: url('../image/modal/close.svg');
  cursor: pointer;
  border: none;
}

@media (max-width: 600px) {
  .modal__wrapper {
    max-width: 280px;
    padding: 60px 20px 88px;
  }

  .modal__close {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  
  .modal__title {
    font-size: 20px;
    line-height: 30px;
  }
  
  .modal__label-wrap {
    margin-bottom: 50px;
  }
  
  .modal__input {
    width: 220px;
    height: 42px;
  }
  
  .modal__button {
    font-size: 18px;
    line-height: 28px;
    padding: 12px 40px;
  }
}