.rest {
  padding-bottom: 120px;
}

.rest__container {
  display: flex;
  flex-direction: column;
}

.rest__title {
  align-self: center;
  margin-bottom: 41px;
  max-width: 900px;
  text-align: center;
}

.rest__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.rest__item {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 228px;
  padding: 20px 40px 6px 40px;
  transition: .2s;
}

.rest__item:nth-of-type(3n+2) {
  transform: translateY(70px);
}

.rest__item:hover {
  transform: scale(1.1)
}

.rest__item:nth-of-type(3n+2):hover {
  transform: translateY(70px) scale(1.1);
}

.rest__item_vr {
  background-image: url('../image/rest/vr.jpg');
}

.rest__item_audio {
  background-image: url('../image/rest/audio.jpg');
}

.rest__item_karaoke {
  background-image: url('../image/rest/karaoke.jpg');
}

.rest__item_board-games {
  background-image: url('../image/rest/board_games.jpg');
}

.rest__item_ps {
  background-image: url('../image/rest/ps5.jpg');
}

.rest__item_cinema {
  background-image: url('../image/rest/cinema_service.jpg');
}

.rest__text {
  min-height: 56px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: var(--main-color);
}

@media (max-width: 1300px) {
  .rest__title {
    font-size: 30px;
    line-height: 40px;
    max-width: 600px;
  }

  .rest__list {
    gap: 30px 20px;
    justify-content: center;
  }
  
  .rest__item {
    background-size: contain;
    background-repeat: no-repeat;
    width: 280px;
    height: 172px;
    padding: 20px 20px 5px 20px;
  }
  
  .rest__item:nth-of-type(3n+2) {
    transform: translateY(60px);
  }

  .rest__text {
    font-size: 20px;
    line-height: 28px;
    width: 247px;
    min-height: 84px;
  }
}

@media (max-width: 1024px) {
  .rest {
    padding-bottom: 30px;
  }
  .rest__title {
    font-size: 24px;
    line-height: 36px;
    max-width: 500px;
  }

  .rest__list {
    gap: 20px;
    justify-content: center;
  }
  
  .rest__item {
    width: 334px;
    height: 200px;
    padding: 20px 30px 12px 30px;
  }
  
  .rest__item:nth-of-type(3n+2) {
    transform: translateY(0);
  }

  .rest__text {
    width: 265px;
    min-height: 56px;
  }

  .rest__item_cinema {
    padding-top: 132px;
  }
}

@media (max-width: 768px) {
  .rest__list {
    gap: 20px;
  }
  
  .rest__item {
    width: 210px;
    height: 130px;
    padding: 20px 10px 3px 10px;
  }
  
  .rest__item:nth-of-type(3n+2) {
    transform: translateY(0);
  }

  .rest__text {
    width: 165px;
    min-height: 42px;
    font-size: 14px;
    line-height: 16px;
  }

  .rest__item_cinema {
    padding-top: 72px;
  }
}

@media (max-width: 480px) {
  .rest {
    padding: 25px 0;
  }
  .rest__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .rest__list {
    gap: 10px;
  }
  
  .rest__item {
    width: 135px;
    max-height: 75px;
    padding-top: 30px;
    background-size: cover;
  }

  .rest__text {
    width: 105px;
    font-size: 10px;
    line-height: 14px;
  }

  .rest__item_cinema {
    padding-top: 30px;
  }
}