@import url(normalize.css);
@import url(variables.css);
@import url(global.css);
@import url(header.css);
@import url(burger.css);
@import url(hero.css);
@import url(rest.css);
@import url(halls.css);
@import url(reservation.css);
@import url(about.css);
@import url(feedback.css);
@import url(faq.css);
@import url(contacts.css);
@import url(cookies.css);
